
    <div class="container-fluid d-flex justify-content-evenly bg-primary p-2 overflow-auto ">
        <a class="text-white text-decoration-none" href="/interviewquestions">HTML</a>
        <a class="text-white text-decoration-none" href="/interviewquestions/css">CSS</a>
        <a class="text-white text-decoration-none" href="/interviewquestions/javscript">JAVASCRIPT</a>
        <a class="text-white text-decoration-none" href="/interviewquestions/python">PYTHON</a>
        <a class="text-white text-decoration-none" href="/interviewquestions/nodejs">NODE JS</a>
        <a class="text-white text-decoration-none" href="/interviewquestions/expressjs">EXPRESS JS</a>
        <a class="text-white text-decoration-none" href="/interviewquestions/mongodb">MONGODB</a>
        <a class="text-white text-decoration-none" href="/interviewquestions/mysql">MY SQL</a>
        <a class="text-white text-decoration-none" href="/interviewquestions/reactjs">REACT JS</a>
    </div>
