<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/nav.css">
</head>

  <nav class="navbar">
    <div class="logo">
      <a href="#">Code Grow</a>
    </div>
    <ul class="navlinks list-unstyled mb-0">
      <li><a href="/" class="text-secondary">Home</a></li>
      <li><a href="/courses" class="text-secondary">Courses</a></li>
      <li><a href="/roadmaps" class="text-secondary">Roadmaps</a></li>
      <li><a href="/tutorials" class="text-secondary">Tutorials</a></li>
      <li><a href="/notes" class="text-secondary">Notes</a></li>
      <li><a href="/interviewquestions" class="text-secondary">Interview Questions</a></li>
      <li><a href="/contact" class="text-secondary">Contact</a></li>
      <li><a href="/login" class="btn btn-outline-secondary" >Log in</a></li>
      <li><a href="/signup" class="btn btn-dark text-white" >Join for free</a></li>
    </ul>
  </nav>