<head>
    <link rel="stylesheet" href="/css/tutorials.css">
  </head>

<div class="container-fluid d-flex justify-content-evenly bg-secondary p-2 ">
    <a class="text-white text-decoration-none" href="/tutorials/react">REACT JS</a>
    <a class="text-white text-decoration-none" href="/tutorials/java">OOPS (Java)</a>
    <!-- <a class="text-white text-decoration-none" href="">HTML</a> -->
    <!-- <a class="text-white text-decoration-none" href="">CSS</a> -->
    <!-- <a class="text-white text-decoration-none" href="">JAVASCRIPT</a> -->
    <a class="text-white text-decoration-none" href="/tutorials/php">PHP</a>
    <a class="text-white text-decoration-none" href="">EXPRESS JS</a>
    <a class="text-white text-decoration-none" href="">MONGODB</a>
</div>