<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
</head>

<body>
    <%- include("includes/nav.ejs")%>
        <div class="container-fluid p-0">
            <div class="header-carousel position-relative">
                <div class="owl-carousel-item position-relative">
                    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center herosectionbox"
                        style="background-color: rgb(240, 240, 240);">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-sm-10 col-lg-8">
                                    <h5 class=" text-uppercase mb-3" style="color: #2973B2;">Best
                                        E-learning platform</h5>
                                    <h1 class="display-3  text-black">
                                        Learn anytime, anywhere <br>from free online tutorials, notes</h1>
                                    <p class="text-black mb-4 pb-2">Join thousands of learners and take your skills to
                                        the next level with our experted tutorials, notes etc. Start learning today!
                                    </p>
                                    <a style="background-color: #2973B2;" href="/signup"
                                        class="btn text-white btn-light py-md-3 px-md-5">Join Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Service Start -->
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-2 text-center">
                        <div class="col-12">
                            <h1 style="color: #2973B2;">Invest in your professional goals with Code Grow</h1>
                            <p class="mb-5">Get unlimited access to over 90% of tutorials,roadmaps and notes etc.</p>
                        </div>
                    </div>
                    <div class="row g-4">
                        <div class="col-lg-3 col-sm-6">
                            <div class="service-item text-center pt-3 shadow">
                                <div class="p-4">
                                    <img src="img/icon1.png" alt="" width="60px" class="mb-4">
                                    <h5 class="mb-3">Learn anything</h5>
                                    <p>Explore any interest or trending topic, take prerequisites, and advance your
                                        skills</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="service-item text-center pt-3 shadow">
                                <div class="p-4">
                                    <img src="img/icon2.png" alt="" width="60px" class="mb-4">
                                    <h5 class="mb-3">Save money</h5>
                                    <p>Spend less money on your learning
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="service-item text-center pt-3 shadow">
                                <div class="p-4">
                                    <img src="img/icon3.png" alt="" width="60px" class="mb-4">
                                    <h5 class="mb-3">Flexible learning</h5>
                                    <p>Learn at your own pace, move between multiple tutorials
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="service-item text-center pt-3 shadow">
                                <div class="p-4">
                                    <img src="img/icon4.png" alt="" width="60px" class="mb-4">
                                    <h5 class="mb-3">Unlimited Tutorials</h5>
                                    <p>Learning Skills for every learning program that you complete at no additional
                                        cost</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Service End -->

            <!-- About Start -->
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-lg-6" style="min-height: 400px;">
                            <div class="position-relative h-100">
                                <img class="img-fluid position-absolute w-100 h-100" src="img/about2.jpg" alt=""
                                    style="object-fit: cover;">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <h6 class="section-title bg-white text-start pe-3">About Us</h6>
                            <h1 class="mb-4" style="color: #2973B2;">Welcome to Codegrow</h1>
                            <p class="mb-4">At Codegrow, Our e-learning platform aims to make high-quality education
                                accessible, engaging, and interactive for learners of all ages. We focus on a
                                personalized learning experience that caters to different learning styles, using
                                innovative technology to enhance understanding. Join us in embracing the future of
                                education
                                and
                                unlock your potential with our immersive online tutorials.</p>
                            <div class="row gy-2 gx-4 mb-4">
                                <div class="col-sm-6">
                                    <p class="mb-0"><i class="fa fa-arrow-right me-2"></i>Community Engagement</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="mb-0"><i class="fa fa-arrow-right me-2"></i>Notes Provided
                                    </p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="mb-0"><i class="fa fa-arrow-right me-2"></i>Tutorials
                                    </p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="mb-0"><i class="fa fa-arrow-right me-2"></i>Roadmaps for User
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About End -->

            <!-- About Start -->
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-5">

                        <div class="col-lg-12">

                            <h3 class="mb-4">Our Vision</h3>
                            <p class="mb-4">At Codegrow, we envision a world where learning is accessible to everyone,
                                regardless of their location, background, or circumstances. We strive to break barriers
                                and make
                                education a transformative and inclusive experience for all.</p>

                            <h3 class="mb-4">A Commitment to Excellence</h3>
                            <p class="mb-4"> We are dedicated to providing top-quality education. Our team collaborates
                                with
                                industry experts and educators to curate courses that meet the highest standards,
                                ensuring our
                                learners receive valuable and up-to-date knowledge.</p>

                            <h3 class="mb-4">Empowering Learners</h3>

                            <p class="mb-4">We believe in the transformative power of education. Code Grow is
                                designed to empower individuals to pursue their passions, advance their careers, and
                                acquire new
                                skills in a dynamic and supportive environment.</p>

                            <h3 class="mb-4">Innovation in Learning</h3>

                            <p class="mb-4">Embracing technology, we offer innovative learning methods and tools. From
                                interactive modules to live sessions, we're committed to providing a cutting-edge
                                learning
                                experience that fosters engagement and knowledge retention.</p>

                            <h3 class="mb-4">Community-Centric Approach</h3>

                            <p class="mb-4"> Code Grow is more than just tutorials; it's a vibrant community. We
                                encourage collaboration, discussion, and knowledge sharing among learners, fostering an
                                environment of growth and camaraderie.</p>

                            <h3 class="mb-4">Diverse and Inclusive Education</h3>

                            <p class="mb-4">We celebrate diversity in perspectives, cultures, and ideas. Our diverse
                                course
                                offerings cater to various interests and skill levels, ensuring that everyone finds a
                                learning
                                path that resonates with them.</p>

                            <h3 class="mb-4">Continuous Improvement</h3>

                            <p class="mb-4">We are always evolving. Feedback from our learners helps us continually
                                enhance our
                                platform, ensuring it remains dynamic, responsive, and aligned with the evolving needs
                                of our
                                users.</p>

                            <p class=" mt-5 mb-4">Thank you! for being a part of Code Grow. Together, let's embark on a
                                journey of lifelong learning and growth.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About End -->

            <!-- Banner-1 Start -->
            <div class="container-xxl py-5 pt-5 bg-light">
                <div class="container">
                    <div class="row g-5 ">
                        <div class="col-lg-6 p-5">
                            <h1 class="mb-4" style="color: #2973B2;">Explore Free Tutorials</h1>
                            <p class="mb-4">Start your online learning journey at Great Learning Academy for free with
                                our
                                short-term basic tutorials across various in-demand domains.</p>

                            <a class="btn text-light py-3 px-5 mt-2" style="background-color: #2973B2 ;"
                                href="/tutorials">Start For Free</a>
                        </div>
                        <div class="col-lg-6" style="min-height: 400px;">
                            <div class="position-relative h-100">
                                <img class="img-fluid position-absolute w-100 h-100" src="img/images1.jpg" alt=""
                                    style="object-fit: cover;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Banner-1 End -->

            <!-- Categories Start -->
            <div class="container-xxl py-5 category">
                <div class="container">
                    <div class="text-center">
                        <h6 class="section-title bg-white text-center px-3">Categories</h6>
                        <h1 class="mb-5" style="color: #2973B2;">Popular Topics to Explore</h1>
                    </div>
                    <div class="row g-2 m-2">
                        <div class="col-lg-3 col-md-6  text-center">
                            <div class="content shadow p-3 mb-2">


                                <img src="img/cat1.png" class="img-fluid" alt="categories"></i>

                                <h5 class="my-2">
                                    <a href="#" class="text-center">Microsoft Excel</a>
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6  text-center">
                            <div class="content shadow p-3 mb-2">


                                <img src="img/cat2.png" class="img-fluid" alt="categories"></i>

                                <h5 class="my-2">
                                    <a href="#" class="text-center"> AWS</a>
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6  text-center">
                            <div class="content shadow p-3 mb-2 ">


                                <img src="img/cat3.png" class="img-fluid" alt="categories"></i>

                                <h5 class="my-2">
                                    <a href="#" class="text-center">Python</a>
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6  text-center">
                            <div class="content shadow p-3 mb-2">


                                <img src="img/cat4.png" class="img-fluid" alt="categories"></i>

                                <h5 class="my-2">
                                    <a href="#" class="text-center">Java</a>
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6  text-center">
                            <div class="content shadow p-3 mb-2 ">
                                <img src="img/cat5.png" class="img-fluid" alt="categories"></i>
                                <h5 class="my-2">
                                    <a href="#" class="text-center">Web Design</a>
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6  text-center">
                            <div class="content shadow p-3 mb-2 ">


                                <img src="img/cat6.png" class="img-fluid" alt="categories"></i>

                                <h5 class="my-2">
                                    <a href="" class="text-center">Full Stack</a>
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6  text-center">
                            <div class="content shadow p-3 mb-2">


                                <img src="img/cat7.png" class="img-fluid" alt="categories"></i>

                                <h5 class="my-2">
                                    <a href="" class="text-center">MySQL</a>
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6  text-center">
                            <div class="content shadow p-3 mb-2">


                                <img src="img/cat8.png" class="img-fluid" alt="categories"></i>

                                <h5 class="my-2">
                                    <a href="" class="text-center">UX Design</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Categories End -->


            <%- include("includes/footer.ejs") %>

                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                    crossorigin="anonymous"></script>
</body>

</html>