<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roadmaps</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/roadmaps.css">
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
    <%- include('includes/nav.ejs')%>

    <div class="container">
        <div class="heading">
            <h1 class="text-center mt-5 fw-bold">Developer Roadmaps</h1>
            <p class="text-center mt-3">Roadmaps, guides and other educational content to help guide developers in picking up a path and guide their learnings.</p>
        </div>
    </div>

    <div class="rolebasedroadmaps container text-center">
        <div class="heading">
            <h2 class="h4 lead fw-bold text-center mt-5">Role-based Roadmaps</h2>
        </div>
        <div class="row justify-content-center my-3">
            <div class="col-3 border py-2"><a href="/roadmaps/roadmap?name=frontend Roadmap&imagelink=https://miro.medium.com/v2/resize:fit:1400/1*2MZw2yxA6awueeCT1S32iQ.png&width=500&height=400">Frontend</a></div>
            <div class="col-3 border mx-3 py-2"><a href="/roadmaps/roadmap?name=&imagelink=https://scaler.com/topics/images/learn-programming-languages.webp&width=200&height=200">Backend</a></div>
            <div class="col-3 border py-2"><a href="/roadmaps/roadmap?name=devops&imagelink=https://cyberpanel.net/wp-content/uploads/2024/06/Developing-Effective-Writing-Skills-Educational-Presentation-in-Blue-Bold-Lined-Style-Website-1-1.png&width=200&height=200">Devops</a></div>
        </div>
        <div class="row justify-content-center my-3">
<div class="col-3 border py-2"><a href="/roadmaps/roadmap?name=fullstack&imagelink=https://intellipaat.com/blog/wp-content/uploads/2023/07/Step-by-Step-Guide-to-Become-a-Full-Stack-Developer.png&width=200&height=200">Full Stack</a></div>
            <div class="col-3 border mx-3 py-2"><a href="/roadmaps/roadmap?name=&imagelink=https://miro.medium.com/v2/resize:fit:2000/0*sgDx1g_B6glV30PF.png&width=200&height=200">Ai Engineer</a></div>
            <div class="col-3 border py-2"><a href="/roadmaps/roadmap?name=data Analyst Roadmap&imagelink=https://raw.githubusercontent.com/mtahiraslan/data-analyst-roadmap/main/roadmap.png&width=200&height=200">Data Analyst</a></div>
        </div>
        <div class="row justify-content-center my-3">
            <div class="col-3 border py-2"><a href="/roadmaps/roadmap?name=&imagelink=https://aristininja.com/wp-content/uploads/2017/08/Roadmap.jpg&width=200&height=200">Cyber Security</a></div>
            <div class="col-3 border mx-3 py-2"><a href="/roadmaps/roadmap?name=&imagelink=https://media.geeksforgeeks.org/wp-content/cdn-uploads/20201223215047/Roadmap-to-become-Android-Developer.png&width=200&height=200">Android</a></div>
            <div class="col-3 border py-2"><a href="/roadmaps/roadmap?name=&imagelink=https://miro.medium.com/v2/resize:fit:1400/1*bZmrS0shmSvwSbDwRFvxRA.jpeg&width=200&height=200">iOS</a></div>
        </div>
    </div>

    <div class="rolebasedroadmaps container text-center">
        <div class="heading">
            <h2 class="h4 lead fw-bold text-center mt-5">Skill-based Roadmaps</h2>
        </div>
        <div class="row justify-content-center my-3">
            <div class="col-3 border py-2"><a href="/roadmaps/roadmap?name=react Roadmap&imagelink=https://miro.medium.com/v2/resize:fit:972/1*VTfirhozgSc8mGJm0Bo9NA.png&width=200&height=200">React</a></div>
            <div class="col-3 border mx-3 py-2"><a href="/roadmaps/roadmap?name=&imagelink=https://i0.wp.com/copyassignment.com/wp-content/uploads/2022/11/JavaScript.jpg&width=200&height=200">JavaScript</a></div>
            <div class="col-3 border py-2"><a href="/roadmaps/roadmap?name=node js Roadmap&imagelink=https://www.simform.com/wp-content/uploads/2021/07/Roadmap-to-hiring-node.js-devs.png&width=200&height=200">Node .js</a></div>
        </div>
        <div class="row justify-content-center my-3">
            <div class="col-3 border py-2"><a href="/roadmaps/roadmap?name=&imagelink=https://i0.wp.com/copyassignment.com/wp-content/uploads/2022/08/Python-Complete-Roadmap-for-Beginners.jpg&width=200&height=200">Python</a></div>
            <div class="col-3 border mx-3 py-2"><a href="/roadmaps/roadmap?name=&imagelink=https://miro.medium.com/v2/resize:fit:818/1*hE5rz3_qYfnX5eJH_le5pw.png&width=200&height=200">PHP</a></div>
            <div class="col-3 border py-2"><a href="/roadmaps/roadmap?name=&imagelink=https://miro.medium.com/v2/resize:fit:1100/format:webp/1*_81gJHqDt-DckQOqMRrKxg.png&width=200&height=200">Docker</a></div>
        </div>
        <div class="row justify-content-center my-3">
            <div class="col-3 border py-2"><a href="/roadmaps/roadmap?name=&imagelink=https://i0.wp.com/copyassignment.com/wp-content/uploads/2022/11/Roadmap.jpg&width=200&height=200">Java</a></div>
        </div>
    </div>



    <%- include ('includes/footer.ejs')%>
</body>
</html>