*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*** Header carousel ***/

.header-carousel .owl-carousel-item {
    position: relative;
    height: 100vh;
}

.header-carousel p {
    margin-top: 20px;
    font-size: 20px;
    line-height: 30px;
}

.herosection{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* @media (max-width: 1300px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 80vh;
    }

    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }

    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width: 430px) {

    .header-carousel .owl-carousel-item {
        position: relative;
        height: 500px;
    }

    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .header-carousel h1 {
        font-size: 30px;
        line-height: 30px;
    }

    .header-carousel p {
        margin-top: 20px;
        font-size: 15px;
        line-height: 20px;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../img/carousel-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-inner {
    background: rgba(15, 23, 43, .7);
}

.breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
} */

/*** Service ***/
.service-item {
    transition: .5s;
}


.service-item i {
    color: #2973B2;
}

.service-item:hover {
    margin-top: -10px;
    background: #2973B2;
}

.service-item * {
    transition: all .3s ease-in-out;
}

.service-item:hover * {
    color: #fff !important;
}

/*** Categories & Courses ***/

.category .content {
    cursor: pointer;
    transition: .5s;
}

.category .content:hover {
    background-color: #2973B2;
    color: #fff;
}

.category .content h5 a {
    text-decoration: none;
    color: #181d38;
    transition: all 0.3s ease-in-out;
}

.category .content:hover h5 a {
    color: #fff !important;
}

.category img {
    width: 50px;
    height: 50px;
}

.category img,
.course-item img {
    transition: .5s;
}

.category a:hover img,
.course-item:hover img {
    transform: scale(1.1);
    margin-top: -10px;
}