<div class="box1 boxes">
    <h1 class="h5">Beginner</h1>
    <p class="menudesc">
        <a href="/tutorials">Introduction to React</a>
        <!-- <a href="/tutorials/javascriptrefresher">JavaScript refresher</a> -->
        <a href="/tutorials/startreactproject">Start react project</a>
        <a href="/tutorials/jsx">What is jsx ?</a>
        <a href="/tutorials/components">Components in React</a>
        <a href="/tutorials/props">Props in React</a>
        <!-- <a href="">Css in React</a> -->
        <a href="/tutorials/eventhandling">React events</a>
        <a href="/tutorials/conditionrendering">Conditional Rendering</a>
    </p>
</div>
<div class="box1 boxes">
    <h1 class="h5">Intermediate</h1>
    <p class="menudesc">
        <a href="/tutorials/hooks">Hooks in react</a>
        <a href="/tutorials/usestatehook">useState hook</a>
        <a href="/tutorials/reactforms">Forms in react</a>
        <a href="/tutorials/useeffect">useEffect Hook</a>
        <a href="">Context Api in react</a>
        <a href="/tutorials/useref">useRef hook</a>
        <!-- <a href="">Props in React</a>
    <a href="">Css in React</a>
    <a href="">Event handling</a>
    <a href="">Conditional Rendering</a> -->
    </p>
</div>
<div class="box1 boxes">
    <h1 class="h5">Advanced</h1>
    <p class="menudesc">
        <a href="">React Redux</a>
        <a href="/tutorials/datafetching">Data fetching in react</a>
    </p>
</div>
