<div class="container mt-5">
    <h1 class="h1 mb-4">Introduction to React</h1>
    <p class="mb-4">Let's learn the introduction to React in the time it takes you to drink a cup of
        chai. This article is for you. This article aims to provide a beginner-friendly introduction
        to React, what it is, and why we need it. It assumes you have some understanding of basic
        JavaScript.</p>

    <h2 class="h3 font-weight-bold mb-3">What Is React ?</h2>
    <p class="mb-4">
        React is a JavaScript library that helps developers build user interfaces for websites or
        web applications. Developed by Facebook, React simplifies the process of creating
        interactive and dynamic UIs. It uses a component-based architecture, allowing developers to
        break down the user interface into smaller, reusable pieces. One of its key features is the
        Virtual DOM, which boosts performance by efficiently updating only the necessary parts of a
        web page when changes occur. React has become widely popular for its simplicity,
        flexibility, and the ability to efficiently manage and update complex user interfaces.
    </p>

    <h2 class="h3 font-weight-bold mb-3">Why We Need It ?</h2>
    <p class="mb-4">
        Imagine you're building a virtual sandwich. You've got your bread HTML as the foundation,
        your tasty fillings data in the middle, and your sauce JavaScript to tie everything
        together.
    </p>
    <p class="mb-4">
        Now, React is like having a magical sandwich-making robot. Instead of manually swapping out
        each ingredient when you want a different sandwich, React does it for you! If you decide you
        want a burger instead of a club sandwich, React rearranges the ingredients without you
        lifting a finger.
    </p>
    <p class="mb-4">
        React also has this cool feature called "state" - think of it like adding or removing
        pickles from your sandwich. If you don't like pickles, just update the state, and React
        takes care of the rest. No need to manually dig through your sandwich to pick them out.
    </p>
    <p class="mb-4">
        In a nutshell, React makes building web applications as easy as making your favourite
        sandwich, with a touch of magic and a sprinkle of JavaScript goodness!
    </p>
</div>