<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start react project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/tutorials.css">

</head>

<body>
    <%- include("../includes/nav.ejs")%>
        <%- include('../includes/subnav.ejs') %>

            <div class="container-fluid">
                <div class="row">

                    <div class="menubox col col-2 border border-2 p-3" style="height: 600px; overflow: auto;">
                        <%- include('./reactpagenav.ejs')%>
                    </div>
                    <div class=" col  border border-2" style="height: 600px; overflow: auto;">
                        <div class="flex mb-10 flex-col gap-y-5 md:px-3 ">
                            <h1 class="h1 mt-5 pt-2 text-4xl">Start A New React Project</h1>
                            <p class="text-lg">Let's create our first React app using Vite and learn React in-depth.</p>
                            <div class="flex flex-col">
                                <div>
                                    <div class="mt-4 ">
                                        <h2 class="text-2xl sm:text-3xl font-semibold" id="but-why-vite-">But Why Vite ?
                                        </h2>
                                    </div>
                                </div>
                                <div>
                                    <div class="markdownMakeup max-w-full ">
                                        <p>Vite is a next-generation frontend tool used to build <strong>fast</strong>
                                            and <strong>optimized web applications</strong>. It offers a smooth and
                                            efficient development experience by combining a lightning-fast dev server
                                            with a pre-configured build process.</p>
                                    </div>
                                </div>
                                <div>
                                    <div class="mt-4 ">
                                        <h2 class="text-2xl sm:text-3xl font-semibold" id="create-our-first-app">Create
                                            Our First App:</h2>
                                    </div>
                                </div>
                                <div>
                                    <div class="markdownMakeup max-w-full ">
                                        <h2>Run This Following Command To Create Our First React App:</h2>
                                        <p class="p-2 text-white bg-dark">npm create vite@latest my-app -- --template react</p>
                                    </div>
                                </div>

                                <div>
                                    <div class="mt-4 ">
                                        <h3 class="text-lg sm:text-xl font-medium" id="1-node_modules">1. node_modules
                                        </h3>
                                    </div>
                                </div>
                                <div>
                                    <div class="markdownMakeup max-w-full ">
                                        <p><strong>node_modules</strong> folder is a crucial part of any
                                            <strong>Node.js</strong> project. It is a directory that stores all the
                                            third-party modules (or packages) that your project depends on. These
                                            modules provide pre-written code that you can use to add functionality to
                                            your application without having to write everything from scratch.</p>
                                    </div>
                                </div>
                                <div>
                                    <div class="mt-4 ">
                                        <h3 class="text-lg sm:text-xl font-medium" id="2-public">2. public</h3>
                                    </div>
                                </div>
                                <div>
                                    <div class="markdownMakeup max-w-full ">
                                        <p>In <strong>react</strong> the <strong>public folder</strong> typically refers
                                            to a directory within your project structure that holds static assets like
                                            <strong>HTML</strong> files, <strong>CSS</strong> stylesheets,
                                            <strong>JavaScript</strong> code, <strong>images</strong>, and other
                                            resources that are directly served to the browser. This folder is usually
                                            considered "public" because its contents are accessible to anyone visiting
                                            your website.</p>
                                    </div>
                                </div>
                                <div>
                                    <div class="mt-4 ">
                                        <h3 class="text-lg sm:text-xl font-medium" id="3-src">3. src</h3>
                                    </div>
                                </div>
                                <div>
                                    <div class="markdownMakeup max-w-full ">
                                        <p><strong>src</strong> folder plays a <strong>critical</strong> role in holding
                                            the source code for your application's components and logic.</p>
                                    </div>
                                </div>
                                <div>
                                    <div class="my-2" id="undefined">
                                        <div
                                            class="text-base px-3 py-6 rounded border-l-8 border-l-[#22a774] border-l-opacity-50 bg-[#22a774]/10">
                                            <p>The <strong>src</strong> folder is where you spend most of your time
                                                developing <strong>React</strong> applications.</p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="mt-4 ">
                                        <h3 class="text-lg sm:text-xl font-medium" id="3-assets">3. assets</h3>
                                    </div>
                                </div>
                                <div>
                                    <div class="markdownMakeup max-w-full ">
                                        <p><strong>assets</strong> folder contains all the important assets like
                                            images,fonts,audio files,documents etc.</p>
                                    </div>
                                </div>
                                <div>
                                    <div class="mt-4 ">
                                        <h3 class="text-lg sm:text-xl font-medium" id="4-appcss">4. App.css</h3>
                                    </div>
                                </div>
                                <div>
                                    <div class="markdownMakeup max-w-full ">
                                        <p><strong>App.css</strong> file serves as the primary
                                            <strong>stylesheet</strong> for your application's root
                                            component,<strong>App.jsx</strong>.</p>
                                    </div>
                                </div>
                                <div>
                                    <div class="mt-4 ">
                                        <h3 class="text-lg sm:text-xl font-medium" id="5-appjs">5. App.js</h3>
                                    </div>
                                </div>
                                <div>
                                    <div class="markdownMakeup max-w-full ">
                                        <p><strong>App.js</strong> file holds the root component, which serves as the
                                            foundation of your entire application.
                                            <strong>important points:</strong>
                                        </p>
                                        <ul>
                                            <li>Acts as the entry point for your React application's logic and
                                                structure.</li>
                                            <li>Defines the overall component hierarchy and manages the state of your
                                                entire application.</li>
                                            <li>Renders the initial user interface (UI) elements displayed on the
                                                screen.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div>
                                    <div class="mt-4 ">
                                        <h3 class="text-lg sm:text-xl font-medium" id="6-indexcss">6. index.css</h3>
                                    </div>
                                </div>
                                <div>
                                    <div class="markdownMakeup max-w-full ">
                                        <p>The styles defined in <strong>index.css</strong> are not scoped to any
                                            specific component. They are universally applied to all elements in your
                                            app, regardless of their location or hierarchy.</p>
                                    </div>
                                </div>
                                <div>
                                    <div class="mt-4 ">
                                        <h3 class="text-lg sm:text-xl font-medium" id="7-mainjsx">7. main.jsx</h3>
                                    </div>
                                </div>
                                <div>
                                    <div class="markdownMakeup max-w-full ">
                                        <p><strong>main.jsx</strong> file is the entry point for your application. It
                                            serves as the starting point for rendering your <strong>React
                                                components</strong> to the <strong>DOM</strong> and initializing
                                            essential settings.</p>
                                    </div>
                                </div>
                                <div>
                                    <div class="mt-4 ">
                                        <h3 class="text-lg sm:text-xl font-medium" id="8-eslintrccjs">8. eslintrc.cjs
                                        </h3>
                                    </div>
                                </div>
                                <div>
                                    <div class="markdownMakeup max-w-full ">
                                        <p><strong>.eslintrc.cjs</strong> serves as the configuration file for
                                            <strong>ESLint</strong>, a popular code linter specifically designed for
                                            <strong>JavaScript</strong> and <strong>JSX</strong>.</p>
                                    </div>
                                </div>
                                <div>
                                    <div class="mt-4 ">
                                        <h3 class="text-lg sm:text-xl font-medium" id="9-gitignore">9. .gitignore</h3>
                                    </div>
                                </div>
                                <div>
                                    <div class="markdownMakeup max-w-full ">
                                        <p>.gitignore plays a crucial role in excluding specific files and directories
                                            from version control using <strong>Git</strong>.</p>
                                    </div>
                                </div>
                                <div>
                                    <div class="mt-4 ">
                                        <h3 class="text-lg sm:text-xl font-medium" id="10-packagejson">10. package.json
                                        </h3>
                                    </div>
                                </div>
                                <div>
                                    <div class="markdownMakeup max-w-full ">
                                        <p><strong>package.json</strong> serves as the heart of your project's
                                            configuration. It had essential <strong>information</strong>,
                                            <strong>dependencies</strong>, and <strong>scripts</strong> vital for
                                            building, <strong>running</strong>, and <strong>managing</strong> your
                                            application.</p>
                                    </div>
                                </div>
                                <div>
                                    <div class="mt-4 ">
                                        <h3 class="text-lg sm:text-xl font-medium" id="11-redmemd">11. REDME.md</h3>
                                    </div>
                                </div>
                                <div>
                                    <div class="markdownMakeup max-w-full ">
                                        <p><strong>README.md</strong> file (sometimes as <strong>README.md</strong> or
                                            <strong>readme.md</strong>) acts as the essential guide for your project.
                                        </p>
                                    </div>
                                </div>
                                <div>
                                    <div class="mt-4 ">
                                        <h3 class="text-lg sm:text-xl font-medium" id="12-viteconfigjs">12.
                                            vite.config.js</h3>
                                    </div>
                                </div>
                                <div>
                                    <div class="markdownMakeup max-w-full ">
                                        <p><strong>vite.config.js</strong> serves as the central configuration file it
                                            allows you to <strong>customize</strong> and <strong>optimize</strong> your
                                            development experience.</p>
                                    </div>
                                </div>
                                <div>
                                    <div class="my-2" id="undefined">
                                        <div
                                            class="text-base px-3 py-6 rounded border-l-8 border-l-[#e19011] border-l-opacity-50 bg-[#e19011]/10">
                                            <p>But what is JSX here? Let's move to the next module and learn more about
                                                JSX.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <%- include("../includes/footer.ejs")%>
                <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>