<div class="box1 boxes">
    <h1 class="h5">Introduction</h1>
    <p class="menudesc">
        <a href="/tutorials/php">PHP Overview</a>
        <a href="/tutorials/phpcomments">PHP Comments</a>
        <a href="/tutorials/phpvariables">Variables in PHP</a>
        <a href="/tutorials/variablescope">Variable Scope</a>
    </p>
</div>
<div class="box1 boxes">
    <h1 class="h5">Data Types & Operators</h1>
    <p class="menudesc">
        <a href="/tutorials/phpdatatypes">PHP Datatypes</a>
        <a href="/tutorials/phpoperators">PHP Operators</a>
    </p>
</div>
<div class="box1 boxes">
    <h1 class="h5">Conditional & Iterative Statements</h1>
    <p class="menudesc">
        <a href="/tutorials/conditonalstatements">Conditional Statements</a>
        <a href="/tutorials/iterativestatements">Iterative Statements</a>
    </p>
</div>
<div class="box1 boxes">
    <h1 class="h5">PHP Functions</h1>
    <p class="menudesc">
        <a href="/tutorials/functionbasics">Functions Basics</a>
        <a href="/tutorials/functionarguments">Function Arguments</a>
    </p>
</div>
<div class="box1 boxes">
    <h1 class="h5">PHP Superglobals</h1>
    <p class="menudesc">
        <a href="/tutorials/superglobals">Superglobals</a>
        <a href="/tutorials/globals">$GLOBALS</a>
        <a href="/tutorials/server">$_SERVER</a>
        <a href="/tutorials/request">$_REQUEST</a>
        <a href="/tutorials/post">$_POST</a>
        <a href="/tutorials/get">$_GET</a>
        <a href="/tutorials/cookie">$_COOKIE</a>
        <a href="/tutorials/session">$_SESSION</a>
    </p>
</div>
